<div class="login-popup-wrap new_login_popup">
    <div class="login-popup-heading text-center">
        <h4><i class="fa fa-lock" aria-hidden="true"></i> Register </h4>
    </div>
    <!--<form accept-charset="utf-8" method="post" action="">-->
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
            <input
                [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
                type="text" class="form-control is-invalid" formControlName="username" placeholder="username">
            <div class="invalid-feedback">Username is required</div>
        </div>
        <div class="form-group">
            <input [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
                type="text" class="form-control" formControlName="email" placeholder="email">
            <div class="invalid-feedback">E-mail is required</div>
        </div>
        <div class="form-group">
            <input
                [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
                type="password" class="form-control" placeholder="Password" formControlName="password">
            <div class="invalid-feedback"
                *ngIf="registerForm.get('password').hasError('required') &&  registerForm.get('password').touched ">
                Password is required</div>

            <div class="invalid-feedback"
                *ngIf="registerForm.get('password').hasError('minlength') &&  registerForm.get('password').touched ">
                Password must be at least 4 characters</div>

            <div class="invalid-feedback"
                *ngIf="registerForm.get('password').hasError('maxlength') &&  registerForm.get('password').touched ">
                Password must be at least 8 characters</div>
        </div>
        <div class="form-group">
            <input
                [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors
                 && registerForm.get('confirmPassword').touched 
                 || registerForm.get('confirmPassword').touched 
                 && registerForm.hasError('mismatch')}"
                type="password" class="form-control" placeholder="Confirm Password"
                formControlName="confirmPassword">
            <div class="invalid-feedback"
                *ngIf="registerForm.get('confirmPassword').hasError('required') &&  registerForm.get('confirmPassword').touched ">
                Password is required</div>
                <div class="invalid-feedback"
                *ngIf="registerForm.get('confirmPassword').hasError('mismatch') &&  registerForm.get('confirmPassword').touched ">
                Password must match</div>
        </div>
        <button type="submit" class="btn btn-primary login-popup-btn" name="submit" value="1">Register</button>
    </form>
    <!-- <div class="form-group text-center">
  <a class="pwd-forget" href="javascript:void(0)" id="open_forgotPassword">Forget Password</a>
  </div> -->
    <div class="text-center">I have already a member<a routerLink="/login">Login</a></div>
</div>

<p>Form Value: {{registerForm.value | json }}</p>